.demo-square {
    position: absolute;
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-square > p {
    text-align: center;
    max-width: 100%;
}